@import "./variables";

.main-posts-list {
  padding: 4rem 0 0;
  li {
    margin: 0 0 4rem;
    h1 {
      font-size: 1.6rem;
      color: $strong-font-color;
      margin: 1rem 0 2rem;
      &:hover {
        color: $primary-color;
      }
    }
    .posts-list-date {
      font-size: 0.9rem;
      color: $secondary-font-color;
    }
    p {
      line-height: 1.8;
    }
  }
}
