@import "./variables";

.main-posts-list {
  padding: 4rem 0 0;
  li {
    margin: 0 0 4rem;
    h1 {
      display: inline-block;
      font-size: 1.6rem;
      line-height: 1.5;
      color: $strong-font-color;
      margin: 1rem 0 2rem;
      &:hover {
        color: $primary-color;
      }
    }
    .posts-list-head {
      font-size: 0.9rem;
      color: $secondary-font-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .posts-list-type {
        background-color: rgb(246, 246, 246);
        padding: 0.5em 1em;
        border-radius: 0.5rem;
        &:hover {
          background-color: #f9f2f4;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
    p {
      line-height: 1.8;
    }
  }
}
