@import "./variables";

.container {
  max-width: 800px;
  min-height: 100vh;
  padding: 4rem 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.empty-message-container {
  max-width: 800px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: $secondary-font-color;
}
